<%- include('header'); -%>
<main>
    <article>
      <h1><%=work.title %></h1>
      <p class="artiest"><%=work.author %></p>
      <p class="date"><%=work.date %></p>
      <p><%=work.content %></p>

        <img src=<%=work.imgURL%> alt="afb">
    </article>

</main>

<%- include('footer'); -%>
