 <article class= "element-item <%=work.tags%>">

  <img src=<%=work.imgURL%> alt="afb">
  <div class="overlay">
      <h3><%=work.title %></h3>
      <h4 class="info"><%=work.date %> <%=work.author %></h4>
        <a href="/collectie/<%=index %>">View</a>
  </div>
</article>
